.ui-comment-title{
    background: #008000;
    color: #FFF;
    line-height: 2.5em;
    padding-left: 1em;
}
.ui-comment-cell{
    padding: 10px;
}
.ui-comment-userimg{
    float: left;
}
.ui-comment-userimg a img{
    width: 40px;
    height: 40px;
}
.ui-comment-content{
    padding-left: 10px;
    overflow: hidden;
}
.ui-comment-content span{
    display: block;
    padding-top: 5px;
}